@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import "tailwindcss";

:root {
  --bg: #0f0f0f;
  --text: #e5e5e5;
  --accent: #3b82f6;
  --accent-light: rgb(233, 241, 250)
}

@layer base {
  html, body {
    @apply font-[Poppins] tracking-wide;
    background-color: var(--bg);
    color: var(--text);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    color: #fff;
  }

  p {
    @apply leading-relaxed;
    color: #cfcfcf;
  }

  a {
    color: var(--accent-light);
    transition: color 0.3s;
   text-decoration: none !important;
  }

  a:hover {
    color: var(--accent);
    
  }
  a:active
  {
    border-bottom:2px solid #3b82f6;
    color: var(--accent);

  }
}

@layer utilities {
  .section {
    @apply py-20 px-6 md:px-12 lg:px-24;
  }

  .heading-gradient {
    background: linear-gradient(to right, var(--accent-light), var(--accent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl shadow-lg;
  }
}

html {
  scroll-behavior: smooth;
}
